body {
    background-image: url(10.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1537px 700px;
}

.divmaster {
    align-self: center;
    width: 800px;
    height: 400px;
    background-color: white;
    border-radius: 25px;
    margin-top: 125px;
}

.form {
    width: 350px;
    height: 400px;
    float: right;
    background-color: rgba(255, 255, 255, 0.148);
    border-radius: 0px 26px 25px 0px;
}

h1 {
    margin-top: 50px;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
    font-family: shabnam;
    text-shadow: 4px 4px 4px black;
}

.inpu {
    width: 300px;
    height: 400px;

}

label {
    color: white;
    font-family: shabnam;
}

input {
    font-size: 14px;
    text-align: right;
    width: 200px;
    height: 35px;
    font-family: shabnam;
    border-radius: 10px;
}

.input1:focus{
    background-color: burlywood;
}

.usname {
    margin-top: 35px;
    margin-bottom: 20px;
}

.pass {
    margin-bottom: 20px;
}

.phone {
    margin-bottom: 20px;

}

.button1 {
    border: none;
    margin-left: 5px;
    font-family: shabnam;
    width: 60px;
    height: 30px;
    border-radius: 10px 0px 0px 10px;
    transition: all 0.2s;
}

.button1:hover {
    background-color: rgba(255, 0, 0, 0.868);
    color: white;
    transition: all 0.2s;
}

.button2 {
    border: none;
    margin-right: 5px;
    font-family: shabnam;
    width: 60px;
    height: 30px;
    border-radius: 0px 10px 10px 0px;
    transition: all 0.2s;
}

.button2:hover {
    background-color: goldenrod;
    color: white;
    transition: all 0.2s;
}

.img1 {
    width: 450px;
    height: 400px;
    float: left;
    border-radius: 25px;
}

img {
    width: 800px;
    height: 400px;
    border-radius: 25px
}