body {
    background-image: url(IMG_۲۰۲۴۰۴۱۰_۲۳۵۵۴۶.jpg);
    background-repeat: no-repeat;
    background-size: 1537px 700px;
    background-attachment: fixed;
}

aside {

    max-width: 250px;
    max-height: 1476px;
    background-color: rgba(255, 255, 255, 0.671);
    float: left;
    border-radius: 20px;
    text-align: center;
}


.header {
    position: center;
    max-width: 1237px;
    max-height: 75px;
    box-sizing: border-box;
    background-color: rgba(255, 51, 0, 0.537);
    padding: 10px;
    border-radius: 0px 20px 0px 50px;
    text-decoration: none;
}


h1 {
    display: inline-block;
    color: white;
    font-size: 35px;
    font-family: shabnam;
    margin: 1px;
}

.h1 {
    color: rgb(255, 255, 255);
    display: block;
}

sup{
    color: white;
    font-family: shabnam;
    font-size: 10px;
}

a {
    color: white;
    font-family: shabnam;
    margin: 1px 10px 0px 10px;
    text-decoration: none;
}

.signup {
    float: left;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    max-width: 80px;
    max-height: 25px;
    transition: 0.2s;
    margin: 10px 1px 15px 25px;
}

.signup:hover {
    text-align: center;
    background-color: white;
    border-radius: 25px;
    color: rgb(184, 0, 0);
    transition: 0.2s;
}

.login{
    float: left;
    margin: 10px 1px 15px 30px;

}

nav {
    background-color: rgba(255, 111, 0, 0.747);
    max-width: 1237px;
    max-height: 45px;
    border-radius: 35px 0px 35px 0px;
}

.div2 {
    max-width: 1237px;
    max-height: 45px;
    margin: 5px 0px 5px 0px;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
}

ul {
    margin: 10px 0px 0px 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    display: inline-block;
}

li {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: shabnam;
    display: inline;
    padding: 0px 20px 0px 20px;
    transition: 0.3s;
}

li:hover {
    background-color: rgb(255, 255, 255);
    color: rgba(255, 111, 0, 0.69);
    border-radius: 25px;
    transition: 0.3s;
}

article {
    max-width: 1237px;
    max-height: 417px;
}

.image-site {
    display: inline-block;
    max-width: 1237px;
    max-height: 417px;
    margin: 15px 0px 15px 0px;
}

#image1 {
    display: block;
    max-width: 620px;
    max-height: 410px;
    display: inline;
}

img {
    margin: 5px;
    border-radius: 20px;

}

.paraghraf {
    font-size: 16px;
    font-family: shabnam;
    padding: 25px;
    box-sizing: border-box;
    max-width: 1237px;
    max-height: auto;
    background-color: rgba(255, 255, 255, 0.534);
    border-radius: 25px;
}

.foot {
    max-width: 1510px;
    max-height: 50%;
    padding: 5px 15px 5px 15px;
    margin-top: 20px;
    background-color: rgba(250, 89, 89, 0.764);
    box-sizing: border-box;
    border-radius: 35px 35px 0px 0px;
}

.information {
    max-width: 730px;
    max-height: 220px;
    display: inline-block;
}

h4 {
    color: white;
    font-family: shabnam;
}

h5 {
    color: white;
    font-family: shabnam;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

.info {
    color: white;
    font-family: shabnam;

}

.comments {
    max-width: 730px;
    max-height: 270px;
    float: left;
    direction: rtl;
    color: white;
    font-family: shabnam;
}
h3{
    margin-right: 10px;
}

input {
    font-size: 14px;
    color: rgb(255, 0, 0);
    user-select: none;
    border: 2px solid white;
    margin: 1px 5px 10px 1px;
    padding: 1px 5px 1px 5px;
    font-family: shabnam;
    max-width: 150px;
    max-height: 30px;
    background-color: white;
    border-radius: 15px;
    box-sizing: border-box;
    display: inline-block;
}

input:hover {
    background-color: rgba(255, 200, 0, 0.742);
    color: rgba(255, 255, 255, 0.945);
    transition: 0.1s;
    border: none;
}

textarea {
    font-size: 14px;
    color: rgb(255, 0, 0);
    padding: 5px;
    margin: 1px 5px 5px 1px;
    border-radius: 13px;
    box-sizing: border-box;
    font-family: shabnam;
    display: inline-block;
    border: none;

}

textarea:hover {
    background-color: rgba(255, 200, 0, 0.742);
    color: rgb(255, 255, 255);
    transition: all 0.1s;
    border: none;
}

button {
    margin: 1px 5px 1px 2px;
    max-width: 70px;
    max-height: 25px;
    border-radius: 15px;
    background-color: white;
    font-family: shabnam;
    font-size: 12px;
    display: inline-block;
    border: none;
    border: none;
    transition: all 0.2s;
}

.submit:hover {
    background-color: rgba(0, 255, 0, 0.652);
    color: white;
    transition: all 0.2s;
}

.cancel:hover{
    background-color: rgba(255, 0, 0, 0.608);
    color: white;
    transition: all 0.2s;
}